*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #logo {  
 margin-left: 5px;
}
body {
font-family: Arial, sans-serif;
background-color: #000000;
color: #FFFFFF;
background-image: url(../img/motoa.png);
background-repeat: no-repeat;
background-size: cover;
<<<<<<< HEAD

margin-top: 10vh;

=======
margin-top: 5vh;
background-attachment: scroll;
min-height: 90vh;
>>>>>>> 209970f5f1e79cab7dc357eaf095c1952a3b6d92
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #1E1E1E;
    color: #FFFFFF;
}
input[type="text"],
input[type="password"] {
opacity: 50%;
}
input[type="submit"] {
background-color: #FFD700;  
cursor: pointer;
color: black;
}
footer {
text-align: center;
margin-top: 150px;
}
