*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    font-weight: bolder;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    color: chartreuse;
}
.menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(255, 0, 0);
}
.menu li {
    list-style: none;
    color: rgb(255, 0, 0);
}


a:hover{
    color: red;
}

img#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
p{
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    padding: 10px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
nav a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

main h1{
    color: #000000;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2{
    color: white;
    padding-top: 1%;
     text-align: center;
}
footer{
    background-color:#000000;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 2em;
    padding-top: 5px;
}
a#link{
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
div#container{
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha */
    gap: 10px;
    
}
p#inicio{
    font-size: 7em;
    font-weight: bolder;
}
#carouselExampleAutoplaying{
    border: 5px solid #000000;
    border-radius: 10px;
    width: 50%;
    height: 60%;
    margin-left: auto; 
    margin-right: 5vw;
    
}
div#descricao{
    width: 35%;
    display: block;
    padding: 15px;
    text-align: justify;
    margin-left: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #000000;
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    background-color: rgba(56, 56, 56, 0.7);
}

main{
    background-image: url('../img/yamaha.jpg'); 
    background-repeat: no-repeat;
    background-position: center top;
}
body{
    color: rgb(250, 250, 250);
}
    
.inicio{
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    padding: 10px;
    padding-top: 5%;
}
h1#inicio{
    font-weight: bolder;
    color: #ffffff;
    padding-top: 5%;
}
div#footer{
    color: white;
    padding: 1.5em;
    border-bottom: 1px solid #ffffff;
    display: flex;
    padding-top: 1.5em;
    flex-wrap: wrap;
    align-items: center;
}
img#imgfooter{
   width: 70%;
   height: 40%;
   border-radius: 10px;
}
ul#contato{
    list-style: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-left: auto;
}
@media (min-width: 1920px) {
    img#imgfooter {
        margin-left: 150px;
    }
   ul#contato {
       margin-right: 150px;
   }
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    div#descricao {
        width: 90%;   
    }

    div#carouselExampleAutoplaying {
        width: 90%;
    }
}
#teste{
 background: #777776;
background: linear-gradient(to bottom, #777776, #2e2e2e);

}