*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #logo {  
 margin-left: 5px;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color:   #db1b1b;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(motoa.png);
    background-size: cover;
}

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }   

        form {
            margin-top: 20px;
            text-align: center;
        }

        input[type="email"],
        input[type="password"],
        input[type="submit"] {
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            border: none;
            background-color: #ffffff;
            color: #FFFFFF;
        }
        input[type="email"],
        input[type="password"] {
            opacity: 50%;
        }

        input[type="submit"] {
            background-color: #FFD700;  
            cursor: pointer;
            color: black;
        }
        footer {
        text-align: center;
        margin-top: 150px;
        }
